.site-footer {
   width: 100%;
   background-color: #393939;
   padding-bottom: 47px;
   padding-top: 13px;
   font-size: 12px;
   line-height: 21px;

   
   &__nav {
      margin: 0 auto;
      text-align: center;

      li {
         display: inline-block;
         color: #fff;
      }

      li::after {
         content: '|';
         margin-left: 17px;
         margin-right: 17px;
         font-size: 10px;
         position: relative;
         top: -1px;
      }

      li:last-child::after {
         content: '';
         margin: 0
      }
   }

   &__related{
      padding: 12px 0 8px;
      border-top: solid 1px #707070;
      border-bottom: solid 1px #707070;
      margin-top: 10px;

      h4 {
         color: #fff; 
      }

      ul {
         width: 291px;
         margin: 9px auto 0;
         text-align: center;
      }

      li {
         display: inline-block;
         color: #cccccc;
      }

      li::before {
         content: '•';
         margin-left: 7px;
         margin-right: 1px;
      }
   }

   &__address {
      address {
         color:#ccc;
         font-size: 10px;
         text-align: center;
         line-height: 38px;
         font-style: normal;
      }
   }
}
