.wrapper {
	position: relative;

	padding-left: 21px;
	padding-right: 21px;
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;

	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--top-space {
		padding-top: 10px;
	}

}

.main {
	width: 100%;
	min-height: 600px;
	height: auto;
	padding-top: 47px;
	padding-bottom: 32px;
	@mixin clearfix;

	&.no-p-bottom{
		padding-bottom: 0px;
	}
}


